POSTGRES_DB=skladpro
POSTGRES_USER=skladpro
POSTGRES_PASSWORD=change-me-now

JWT_SECRET=dev-secret-change-me
# Пример для прод-домена: https://sklodpro.ru (через запятую несколько доменов)
CORS_ORIGIN=https://sklodpro.ru
SEED_ON_START=1
SEED_ADMIN_EMAIL=admin@skladpro.local
SEED_ADMIN_PASSWORD=1111
SEED_ADMIN_NAME=System Admin
